.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #828282;
  display: block;
  transition: 0.3s;}

.sidenav a:hover {
  color: #111111;}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;}

body {
  font-family: Arial, Helvetica, sans-serif;}

.navbar {
  overflow: hidden;
  background-color: #111;}

.navbar a {
  float: right;
  font-size:25px;
  color: white;
  text-align:center;
  text-decoration:none;
  padding: 15px 16px;}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#783267;}

span{
  font-size:45px;
  color:#ffffff;
  cursor:pointer}

h1,h2,p,pre{
  color:#ffffff}

h1,h2{
  text-align:center;}

.line {
  border-top:1px dashed #cccccc;
  height: 1px;
  overflow:hidden}

pre{
  text-align:center;}

body {
  background-color:#111111;}